<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们的记忆</title>
    <link rel="stylesheet" type="text/css" href="Login.css">

</head>
<style type="text/css">
    div
    {
        color: red
    }
    div.head-input
    {
        color: blue;
        text-aglin:right
    }
</style>
</head>


<body>
    <div id="iframe">
        <div class="head-form">
            <h3>我们我记忆</h3>
            <div class="head-daojishi">
                <!--
                <ul>
                    <li class="head-shuzi">0</li>
                    <li class="head-wenzi">天</li>
                    <li class="head-shuzi">02</li>
                    <li class="head-wenzi">时</li>
                    <li class="head-shuzi">11</li>
                    <li class="head-wenzi">分</li>
                    <li class="head-shuzi">10</li>
                    <li class="head-wenzi">秒</li>
                </ul>
                -->
            </div>
            <div class="head-form-form">
                <div class="head-input">
                    <span>bbbbbbbbbbb</span>
                    <img alt="" src="http://static.itxdl.cn/statics/images/form/it_edu7/name.png">
                    <input name="pcname" type="text" maxlength="50" placeholder="请输入您的姓名">
                </div>
                <div class="head-input">
                    <span>aaaaaa</span>
                    <img alt="" src="http://static.itxdl.cn/statics/images/form/it_edu7/wechat.png">
                    <input name="wechat" type="text" maxlength="30" placeholder="您的微信号">
                </div>
                <button class="form-button" type="submit"><a class="head-submit" href="javascript:void(0)">确认</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>